<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar imagem</title>
</head>
<body>
    <h1>Cadastrar imagem</h1>
    <h4><a href="https://nathalima.imgur.com/all" target="_blank" rel="noopener noreferrer">Ir para o site de hospedagem</a></h4>
    <form method="post" action="/image">
        <input type="text" name="link" id="link" placeholder="Cole aqui o link da imagem"><hr>
        <input type="text" name="title" id="title" placeholder="Titulo da imagem"><hr>
        <input type="text" name="description" id="description" placeholder="Descrição da imagem"><hr>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>